<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/materia/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>MongoDB Article Scraper</title>
    {{!--
    <script src="https://code.jquery.com/jquery.js"></script> --}}
    <script src="/assets/js/app.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Mongo Scraper</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saved">Saved Articles</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-danger clear">CLEAR ARTICLES!</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="jumbotron text-center">

        <div class="overlay">
        </div>
        <div class="background-image">
        </div>
        <div class="caption">
            <h1 id="main-title">Mongo Scraper</h1>
            <p id="title-sub">New York Times Edition</p>
        </div>
    </div>


    <div class="fluid-container">
        {{{ body }}}
    </div>
</body>

</html>